<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<header th:fragment="siteHeader" class="main-header">
    <div class="header-content">
        <a class="logo-container" th:href="@{/main}">
            <img th:src="@{/images/dongah.gif}" alt="동아지질" class="logo" width="40" height="32">
            <span class="header-title">부동산 임차관리 플랫폼</span>
        </a>
        <div class="user-info">
            <span class="user-name" th:text="${#authentication.principal.deptName}"></span>
            <span class="user-name"
                  th:text="${#authentication.principal.userName + #authentication.principal.positionName}"></span>
            <a th:if="${backUrl}" th:href="@{${backUrl}}" class="btn-back">
                <i class="bi bi-arrow-left"></i>
                <span th:text="${backText} ?: '이전화면'">이전화면</span>
            </a>
            <form th:action="@{/logout}" method="post" class="d-inline">
                <button type="submit" class="btn-action">로그아웃</button>
            </form>
        </div>
    </div>
</header>
</body>
</html>
